

  // .whatsapp-portal-root {
  //   position: relative;   // not fixed
  //   z-index: auto;
  
  // }
  
  // .tooltip-container {
  //   position: fixed;
  //   bottom: 20px;
  //   right: 20px;
  //   pointer-events: auto;
  //   display: flex;
  //   align-items: center;
  //   gap: 8px;
  // }
  
  // /* WhatsApp button */
  // .whatsapp-float-portal {
  //   pointer-events: auto;
  //   width: 55px;
  //   height: 55px;
  //   border-radius: 50%;
  //   background: #25d366;
  //   z-index: 2147483647;
  //   color: #ffffff;
  
  //   display: flex;               /* center icon */
  //   justify-content: center;     /* horizontal */
  //   align-items: center;         /* vertical */
  //   font-size: 28px;             /* icon size */
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  //   text-decoration: none;
  //   transition: transform 200ms ease, box-shadow 200ms ease;
  //   cursor: pointer;
  // }
  
  
  // .whatsapp-float-portal:hover {
  //   transform: scale(1.05);
  //   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.28);
  // }
  
  // /* Tooltip (light, simple, left side) */
  // .tooltip-text {
  //   opacity: 0;
  //   visibility: hidden;
  //   background: #0000004e;
  //   color: #ffffffd0;
  //   font-size: 13px;
  //   padding: 6px 10px;
  //   border-radius: 6px;
  //   // border: 1px solid #ddd;
  //   white-space: nowrap;
  //   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
  //   transform: translateX(10px);
  //   transition: all 0.5s ease;
  // }
  
  // .tooltip-container:hover .tooltip-text {
  //   opacity: 1;
  //   visibility: visible;
  //   transform: translateX(0);
  // }
  
  // /* Pulse animation */
  // @keyframes waPulse {
  //   0% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.45); }
  //   70% { box-shadow: 0 0 0 14px rgba(37, 211, 102, 0); }
  //   100% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0); }
  // }
  // .whatsapp-float-portal.pulse {
  //   animation: waPulse 2s infinite;
  // }
  